(
    sprites: {
        "warehouse": (
            image_path: "sprites/warehouse.png",
            aspect: 1.0,
            hull: [
                (-0.49960127, 0.49960127),
                (0.49960127, 0.49960127),
                (0.49960127, -0.49960127),
                (-0.49960127, -0.49960127),
            ],
        ),
    },
)